@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");

/* General
-------------------------------------------------- */

      body {
        padding-top: 0px;
        padding-bottom: 0px;
        font: 14px/1.231 "Lato", sans-serif;
      }
      .navbar-inverse .navbar-inner {
        background-image: none;
        background-repeat: no-repeat;
        filter: none;
        background-color: #2ECC71;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid #27AE60;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0; 
        z-index: 1000;
        padding-left: 5%;
        /*position: fixed;*/
      }
      .navbar-inner .nav .active > a, .navbar-inner .nav .active > a:hover, .navbar-inner .nav .active > a:focus {
        background-color: #27AE60;
        padding-bottom: 14px;
      } 
      .navbar-inverse .nav > li > a {
        color: #ddffdd;
      }
      .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
        color: #fff;
      }
      .navbar-inverse .brand, .navbar-inverse .brand:hover {
        color: #fff;
        font-weight: 700;
      }
      .container {
        /*margin-top: 60px;*/
        width: 100%;
      }
      .hero-unit {
        background: transparent;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 5px;
      }

      footer {
        margin: auto;
        margin-bottom:none;
        padding: 10px 60px 0 260px;
        height: 190px;
        color: #DDC3C7;
        background-image: url('/img/background.png');
        background-repeat: no-repeat;
      }
      .page-header {
        margin: auto;
        padding: 30px 0 40px 0;
        text-align: center;
        width: 100%;
        border-bottom: 4px solid #ECF0F1 !important;
        border-top: 2px solid #ECF0F1 !important;
      }
      .page-subheader {
        margin: auto;
        padding: 30px 0 10px 0;
        text-align: center;
        width: 100%;
      }

      .partial-width-row {
        width: 90%;
        margin: auto;
        margin-top: 10px; margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
        border-bottom: 2px solid #ECF0F1 !important;
      }

/* Home page
-------------------------------------------------- */

      .hero-carousel {
        width: 100%;
        height: 400px;
        margin: 0; padding: 0;
        background: black;
        position: relative;
        border-left: 2px solid #27AE60;
        border-right: 2px solid #27AE60;
        border-top: 4px solid #27AE60;
        border-bottom: 4px solid #27AE60;
        background-image: url('../img/imgback.png');
        background-repeat:repeat;
      }
      .hero-carousel #map {
        width: 100%;
        height: 400px;
        position: absolute;
        z-index: 1;
      }
      .hero-carousel #hero-image {
        width: 100%;
        height: 100%;
        margin: 0; padding: 0;
        position: absolute;
        z-index: -1000;
        overflow: hidden;
      }
      .hero-carousel #hero-image img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      .hero-carousel .pager {
        position: absolute;
        margin: 0; padding: 0;
        bottom: 0px;
        right: 20px;
        z-index: 5;
      }
      .hero-carousel .view-map {
        position: absolute;
        margin: 0; padding: 0;
        bottom: 0px;
        left: 20px;
        z-index: 5;
      }

      .hero-carousel .map-title {
        background-color: #FFF;
        background-color: rgba(255,255,255,0.75);
        border: 4px solid #2980B9 !important;
        /*width: 300px;*/
          -webkit-border-radius: 6px 0 0 6px;
          -moz-border-radius: 6px 0 0 6px;
          border-radius: 6px 0 0 6px; 
        position: absolute;
        margin: 0; padding: 0;
        max-width: 300px;
        top: 20px;
        right: 20px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        padding: 5px 10px 5px 10px;
        color: black;
        z-index: 5;
      }
      .hero-carousel .map-title h4{
        margin-bottom: 4px;
        padding-bottom: 0;
      }
      .hero-carousel .map-title p {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 1px;
      }
      .hero-carousel .map-title span {
        font-size: 10px;
        line-height: 10px;
        font-weight: 600;
        color: #27AE60;
        margin: 0; padding: 0;
        padding-left: 1px;
      }
      .pagination {
        background: transparent;
      }
      .pagination ul {
        background: #2ECC71;
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; 
        padding-right: 14px;
      }
        .pagination ul > li:first-child > a,
        .pagination ul > li:last-child > a {
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
        }
        .pagination ul > li.next > a, .pagination ul > li.next > span  {
          border-right: 2px solid transparent !important;
        }
        .pagination ul > li > a, .pagination ul > li > span {
          background: white;
          /*border: 5px solid #2ECC71;*/
          /*border-radius: 50px;*/
          margin: 10px 6px 9px;
          color: white;
          line-height: 16px;
          padding: 0 4px;
          -webkit-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
          -moz-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
          -o-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
          transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
          -webkit-backface-visibility: hidden; }
        .pagination ul > li.active > a, .pagination ul > li.active > span, .pagination ul > li.active > a:hover, .pagination ul > li > a:hover, .pagination ul > li.active > a:focus, .pagination ul > li.active > span:hover, .pagination ul > li.active > span:focus {
            background-color: white;
            border-color: white;
            color: #d7dce0;
            border: 5px solid #3498DB;
            border-radius: 50px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            margin: 7px 2px 6px 1px;
            box-shadow: none; }
          .pagination ul > li > a:hover, .pagination ul > li > a :focus, .pagination ul > li > span:hover, .pagination ul > li > span :focus {
            background-color: #2980B9;
            /*border-color: #27AE60;*/
            color: white;
            -webkit-transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
            -moz-transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
            -o-transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
            transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
            -webkit-backface-visibility: hidden; }
          .pagination ul > li > a:active, .pagination ul > li > span:active {
            background-color: #16a085;
            /*border-color: #27AE60; */
          }
        .pagination ul img {
          height: 14px;
          margin-top: -1px;
          vertical-align: middle;
          width: 13px; }

      .row {
        margin: auto;
        margin-top: 20px;
        /*padding-left: 5%;*/
      }
      .row .partners {
        background: #ECF0F1;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        border: 5px solid #BDC3C7 !important;
        color: #2980B9;
      }
      .row .partners h2{
        text-align: center;
      }
      .row .partner-links {
        list-style-type: none;
        position: relative;
        float: left;
      }
      
      .row .partner-links li {
        width: 75px;
        height: 75px;
        margin: 6px;
        float: left;
        position: relative;
      }
      .row .partner-links li.nsf{
        background-image: url('http://www.cochise.edu/cfiles/files/k12/nsf1.png') ;
        background-size:75px 75px;
        background-repeat: no-repeat;
      }

/* People page
-------------------------------------------------- */

.person img {
  width: 200px;
  max-height: 200px;
}


/* Data page
-------------------------------------------------- */

.row .submenu {
  list-style-type: none;
  margin: auto;
}

.row .submenu li {
  float: left;
  margin: auto;
  margin: 0 30px 0 30px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.row .submenu li a {
  color: #3d3d3d;
}
.row .submenu li a:hover{
  color: #000;
  text-decoration: none;
}
.row .span8 p {
  font-weight: 300;
  font-size: 14px;
}
.row.attribution {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 4px;
}
.row.meta-fields {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
}




